{% extends "_base_form.html" %}
{% block title %}Log in{% endblock %}
{% block heading %}Log in{% endblock %}
{% block form_action %}{% url 'account_login' %}{% endblock %}
{% block form_body %}
    {% for field in form %}
        <div class="mb-4">
            {{ field }}
        </div>
    {% endfor %}

    {% for error in form.non_field_errors %}
        <div class="form__error">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5">
                <path fill="currentColor" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/>
            </svg>
            <p>{{ error }}</p>
        </div>
    {% endfor %}

    <button type="submit">
        Log In
    </button>

    <a href="/accounts/password/reset/" class="form__link">
        I forgot my password
    </a>

    <p class="mt-1.5 text-lg text-center text-stone-700">
        Want to create an account instead?
        <a href="{% url 'account_signup' %}" class="text-primary-500 underline">
            Create account
        </a>
    </p>
{% endblock %}
