{% extends "_base_form.html" %}
{% block title %}Log in{% endblock %}
{% block heading %}Log in{% endblock %}
{% block form_action %}{% url 'account_login' %}{% endblock %}
{% block form_body %}
    {% for field in form %}
        <div class="mb-4">
            {{ field }}
        </div>
    {% endfor %}

    {% for error in form.non_field_errors %}
        <div class="form__error">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <p>{{ error }}</p>
        </div>
    {% endfor %}

    <button type="submit">
        Log In
    </button>

    <a href="/accounts/password/reset/" class="form__link">
        I forgot my password
    </a>

    <p class="mt-1.5 text-lg text-center text-stone-700">
        Want to create an account instead?
        <a href="{% url 'account_signup' %}" class="text-primary-500 underline">
            Create account
        </a>
    </p>
{% endblock %}
