{% extends "_base.html" %}

{% block title %}Log in{% endblock title %}

{% block content %}
    {% include "_secondary_nav.html" %}
    <main class="max-w-md mx-auto py-4 px-6 bg-white rounded-2xl drop-shadow-sm shadow-stone-900 border border-stone-50">
        <h4 class="w-full text-2xl font-bold text-stone-900 text-center py-4">
            Log In
        </h4>

        <form class="form" method="post" id="login_form" role="form" action="{% url 'account_login' %}">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-4">
                    {{ field }}
                </div>
            {% endfor %}

            {% for error in form.non_field_errors %}
                <div class="text-red-500 text-sm font-semibold px-4 mb-2.5 flex items-start justify-start gap-x-1.5">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                        </svg>
                    </span>
                    <p>{{ error }}</p>
                </div>
            {% endfor %}

            <button type="submit"
                    class="mt-6 py-4 text-xl text-white bg-primary-500 rounded-full w-full">
                Log In
            </button>
        </form>

        <a href="/accounts/password/reset/" class="block mt-4 text-lg text-center text-primary-500 underline">
            I forgot my password
        </a>

        <p class="mt-1.5 text-lg text-center text-stone-700">
            Want to create an account instead?
            <a href="{% url 'account_signup' %}" class="text-primary-500 underline">
                Create account
            </a>
        </p>
    </main>
{% endblock %}
