{% extends "_base_form.html" %}
{% block title %}MoodMo - Change password{% endblock %}
{% block heading %}Change password{% endblock %}
{% block form_action %}{% url 'account_change_password' %}{% endblock %}
{% block form_body %}
  {% for field in form %}
    <div class="mb-3">
      {{ field }}
    </div>
  {% endfor %}

  {% for error in form.non_field_errors %}
    <div class="mx-3 my-3 text-red-500 text-lg font-bold">
      <i class="fa-solid fa-triangle-exclamation"></i>
      {{ error }}
    </div>
  {% endfor %}

  <button type="submit">
    Change password
  </button>

  <div class="mt-3 text-xl flex justify-center">
    <a href="{% url 'account_reset_password' %}" class="form__link">
      I forgot my password
    </a>
  </div>
{% endblock %}
