{% extends "_base_form.html" %}

{% block title %}Change password{% endblock %}
{% block heading %}Change password{% endblock %}
{% block form_action %}"/accounts/password/reset/key/1-set-password/"{% endblock %}
{% block form_body %}
  {% for field in form %}
    <div class="mb-4">
      {{ field }}

      <div class="mt-2.5">
        {% for error in field.errors %}
          <div class="form__error">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <p>{{ error }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  {% for error in form.non_field_errors %}
    <div class="form__error">
      <i class="fa-solid fa-triangle-exclamation"></i>
      <p>{{ error }}</p>
    </div>
  {% endfor %}

  <button type="submit">
    Save new password
  </button>
{% endblock %}
