{% extends "_base_form.html" %}
{% block title %}MoodMo - Password reset{% endblock %}
{% block heading %}Password reset{% endblock %}
{% block form_body %}
  <p class="w-full text-lg text-center text-black">
    We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
  </p>

  <div class="mt-3 flex justify-center">
    <a href="{% url 'account_login' %}" class="form__link">
      Go to the log in page
    </a>
  </div>
{% endblock %}
