{% extends "_base_form.html" %}

{% block title %}MoodMo - Password reset{% endblock %}
{% block heading %}Password reset{% endblock %}
{% block form_action %}{% url 'account_reset_password' %}{% endblock %}
{% block form_body %}
  {% for field in form %}
    <div class="mb-3">
      {{ field }}
    </div>
  {% endfor %}

  {% for error in form.non_field_errors %}
    <div class="mx-3 my-3 text-red-500 text-lg font-bold">
      <i class="fa-solid fa-triangle-exclamation"></i>
      <p>{{ error }}</p>
    </div>
  {% endfor %}

  <button type="submit">
    Reset password
  </button>
{% endblock %}
