{% extends "_base.html" %}

{% block title %}Log in{% endblock title %}

{% block content %}
  {% include "_secondary_nav.html" %}
  <main
    class="max-w-md mx-auto py-4 px-6 bg-white rounded-2xl drop-shadow-sm shadow-stone-900 border border-stone-50 text-stone-900 text-center">
    <h4 class="w-full text-2xl font-bold py-4">
      Password reset done!
    </h4>

    <p class="text-lg pb-4">
      Your password has been successfully reset. You can now log in with your new password.
    </p>

    <div class="mt-2.5">
      <a href="{% url 'account_login' %}" class="text-primary-500 text-lg underline">
        Go to the log in page
      </a>
    </div>
  </main>
{% endblock %}
