{% extends "_base.html" %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
    {% include "_secondary_nav.html" %}
    <main class="max-w-md mx-auto py-6 px-12 mt-6 bg-white rounded-2xl drop-shadow-sm">
        <div class="flex flex-col items-start justify-start w-full h-full p-10">
            <h4 class="w-full text-3xl font-bold text-stone-900 text-center leading-none">
                Sign Up
            </h4>
        </div>

        <form class="form" method="post" id="signup_form" action="{% url 'account_signup' %}">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-5">
                    {{ field }}
                    {% for error in field.errors %}
                        <div class="text-red-500 px-4 mt-2.5 mb-2.5 flex items-start justify-start gap-x-1.5">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                     stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                                </svg>
                            </span>
                            <p class="text-sm">{{ error }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            {% for error in form.non_field_errors %}
                <div class="text-red-500 mb-3.5 flex items-start gap-x-1.5">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                        </svg>
                    </span>
                    <p class="text-sm">{{ error }}</p>
                </div>
            {% endfor %}

            <button type="submit"
                    class="py-3 text-lg text-white bg-primary-500 hover:bg-stone-900 rounded-full px-10 w-full transition-colors">
                Sign Up
            </button>
        </form>

        <p class="w-full mt-3.5 text-md text-center text-stone-500">
            Already have an account?
            <a href="{% url 'account_login' %}" class="text-primary-500 underline">
                Log in
            </a>
        </p>
    </main>
{% endblock %}