{% extends "_base_form.html" %}
{% block title %}Sign up{% endblock %}
{% block heading %}Sign up{% endblock %}
{% block form_action %}{% url 'account_signup' %}{% endblock %}
{% block form_body %}
    {% for field in form %}
        <div class="mb-4" >
            {{ field }}

            <div class="mt-2.5">
                {% for error in field.errors %}
                    <div class="form__error">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    {% for error in form.non_field_errors %}
        <div class="form__error">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <p>{{ error }}</p>
        </div>
    {% endfor %}

    <button type="submit">
        Sign Up
    </button>

    <p class="mt-2.5 text-lg text-center text-stone-700">
        Already have an account?
        <a href="{% url 'account_login' %}" class="text-primary-500 underline">
            Log in
        </a>
    </p>
{% endblock %}
