<li x-data="{ moodColor: getMoodColor({{ mood.mood }}) }" class="px-6 py-3 bg-white mb-1.5 drop-shadow-sm rounded-xl">
  <a
    href="{% url 'mood_edit' mood.id %}"
    class="flex items-center gap-4"
  >
    <div x-bind:class="moodColor" class="w-12 h-12 rounded-full"></div>

    <div class="flex-1">
      <div>
        {{ mood.timestamp|date:"H:i" }}
      </div>

      {% if mood.note_title != "" %}
        <div class="text-stone-500">
          {{ mood.note_title }}
        </div>
      {% endif %}
    </div>
  </a>
</li>
