{% extends "_base_form.html" %}
{% block title %}MoodMo - Update activity{% endblock %}
{% block heading %}Update your activity{% endblock %}
{% block navbar %}
  <a href="{% url 'activity_delete' activity.sqid %}" class="flex items-center justify-center gap-x-3 hover:text-red-500 transition-colors">
    <i class="fa-solid fa-trash"></i>
    <span class="hidden md:inline">
      Delete
    </span>
  </a>
{% endblock %}
{% block form_action %}{% url 'activity_edit' activity.sqid %}{% endblock %}
{% block form_body %}
  {% for field in form %}
    <div class="mb-3">
      {{ field }}
    </div>
  {% endfor %}

  <button type="submit">Update</button>
{% endblock %}
