{% for mood in moods %}
  <li
    class="relative last-of-type:border-none border-b-2 border-b-black flex items-center gap-x-3 py-6 px-1.5 bg-white text-black select-none cursor-pointer"
    role=""
    x-data="{
            emoji: moodToIcon[{{ mood.mood }}],
            color: moodToColor[{{ mood.mood }}],
            }"
    hx-get="{% url 'mood_edit' mood.sqid %}"
    hx-trigger="click"
    hx-target="body"
  >

    <div :class="color" class="p-3 flex items-center justify-center rounded-full">
      <i :class="emoji" class="text-4xl sm:text-6xl"></i>
    </div>

    <div>
      <time class="text-base sm:text-lg font-bold">
        <span>
          {{ mood.date|date:'DATE_FORMAT' }}
        </span> at
        <span>
          {{ mood.time|time:"g:i A" }}
        </span>
      </time>

      {% if mood.activities.all %}
        <ul class="flex flex-wrap gap-x-2.5 gap-y-0.5 text-base text-primary-500 underline font-bold lg:max-w-xl">
          {% for activity in mood.activities.all|slice:":5" %}
            <li>#{{ activity.name }}</li>
          {% endfor %}
          {% if mood.activities.all|length > 5 %}
            <li>&#8230;</li>
          {% endif %}
        </ul>
      {% endif %}

      {% if mood.note_title != "" %}
        <p class="text-lg text-truncate line-clamp-2">{{mood.note_title}}</p>
      {% endif %}
    </div>
  </li>
{% endfor %}

{% if page_obj.has_next %}
  <span hx-indicator="#loading" hx-get="/moods/?page={{page_obj.next_page_number}}" hx-trigger="intersect throttle:3s"
        hx-swap="afterend">
  </span>
{% endif %}
