{% extends "_base.html" %}
{% load static %}
{% block title %}MoodMo - Search{% endblock %}
{% block content %}
    <header>
        {% include "_primary_nav.html" %}
    </header>

    <main class="flex flex-col mb-44 max-w-screen-md px-3 sm:px-6 lg:px-0 mx-auto">
        <form
            hx-get="{% url 'mood_search_results' %}"
            hx-target="#moodList"
            hx-trigger="keyup delay:500ms, change"
            hx-vals="{
                     mood: document.getElementById('mood').value
                     search_term: document.getElementById('searchTerm').value,
                     start_date: document.getElementById('startDate').value,
                     end_Date: document.getElementById('endDate').value,
                     }"
            hx-indicator="#loading"
            hx-push-url="true"
            class="mt-36 mb-24 w-full mx-auto"
        >
            {% csrf_token %}
            <div class="flex flex-col lg:flex-row justify-between gap-3 mb-3">
                <input
                    id="mood"
                    class="border-2 border-black text-black text-xl rounded-3xl focus:ring-primary-500 focus:border-primary-500 min-w-lg w-full px-6 py-6 placeholder:text-black placeholder:opacity-70"
                    type="number"
                    name="mood"
                    min="-2"
                    max="2"
                    placeholder="Mood"
                />
                <div class="flex items-center text-lg gap-x-2.5">
                    <input
                        id="startDate"
                        class="border-2 border-black text-black text-xl rounded-3xl focus:ring-primary-500 focus:border-primary-500 min-w-lg w-full px-6 py-6 placeholder:text-black placeholder:opacity-70"
                        type="date"
                        name="start_date"
                        placeholder="Start date"
                    />
                    <p>to</p>
                    <input
                        id="endDate"
                        class="border-2 border-black text-black text-xl rounded-3xl focus:ring-primary-500 focus:border-primary-500 min-w-lg w-full px-6 py-6 placeholder:text-black placeholder:opacity-70"
                        type="date"
                        name="end_date"
                        placeholder="End date"
                    />
                </div>
            </div>
            <input
                id="searchTerm"
                class="border-2 border-black text-black text-xl rounded-3xl focus:ring-primary-500 focus:border-primary-500 min-w-lg w-full px-6 py-6 placeholder:text-black placeholder:opacity-70"
                type="search"
                name="search_term"
                placeholder="Start typing to search moods"
            />
        </form>

        <ul id="moodList" class="flex flex-col">
            {% include 'moods/hx_mood_list.html' %}
        </ul>
        <div id="loading" class="htmx-indicator flex flex-col gap-y-3">
            {% for i in "01234"|make_list %}
                <li class="htmx-indicator flex items-center gap-x-2 mb-1.5 py-6 px-3 bg-white last-of-type:border-none border-b-2 border-b-primary-300">
                    <div class="w-16 h-16 bg-primary-300 rounded-full animate-pulse6"></div>
                    <div class="flex flex-col gap-y-1 w-full">
                        <div class="flex gap-x-1.5">
                            <span class="bg-primary-300 px-3 py-1 w-16 rounded-xl animate-pulse">&nbsp;</span>
                            <span class="bg-primary-300 px-3 py-1 w-24 rounded-xl animate-pulse">&nbsp;</span>
                        </div>
                        <p class="bg-primary-300 w-full rounded-xl animate-pulse">&nbsp;</p>
                    </div>
                </li>
            {% endfor %}
        </div>
    </div>
    </main>

                                                                                                                                                                                                                                                                    <!-- Custom JS -->
    <script src="{% static 'js/custom.js' %}" defer></script>
{% endblock %}
