{% extends "_base.html" %}

{% block title %}Mood - Add{% endblock %}

{% block content %}
    {% include '_secondary_nav.html' %}
    <main class="max-w-md mx-auto py-6 px-9 md:px-12 md:mt-6 bg-white rounded-2xl drop-shadow-sm border border-stone-100">
        <form method="post" class="" role="form" action="{% url 'mood_create' %}">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-3.5">
                    {{ field }}
                </div>
            {% endfor %}


            <button type="submit" class="py-3 text-lg text-white bg-stone-900 rounded-full px-10 w-full">
                Add
            </button>
            <p class="w-full mt-4 text-md text-center text-stone-500">
                <a href="{% url 'mood_list' %}" class="text-primary-500 underline">
                    Go Back
                </a>
            </p>
        </form>
    </main>
{% endblock content %}
