{% extends "_base.html" %}

{% block title %}Moods{% endblock title %}

{% block content %}
    {% include "_nav.html" %}
    {% regroup moods by timestamp.date as moods_by_day %}
    <ul role="list" class="mx-auto w-1/2">
        {% for day, moods in moods_by_day %}
            <li>
                <h2>{{ day }}</h2>
                <ul>
                    {% for mood in moods %}
                        <li class="flex justify-between gap-x-6 py-5">
                            <span> {{ mood.mood }} </span>
                            <p>{{ mood.note_title }}</p>
                            <p>{{ mood.timestamp|date:"H:i" }}</p>

                            <div>
                                <a href="{% url 'mood_edit' mood.id %}">Edit</a>
                                <a href="{% url 'mood_delete' mood.id %}">Delete</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <p>No moods registered!</p>
        {% endfor %}
    </ul>
{% endblock content %}
