{% extends "_base.html" %}
{% block title %}MoodMo - Search{% endblock %}
{% block content %}
  <header>
    {% include "_primary_nav.html" %}
  </header>

  <main class="h-screen flex items-center bg-naples-500 justify-center">
    <div class="max-w-md w-full mx-auto py-9 px-6 rounded-3xl">
      <h2 class="w-full text-4xl font-bold text-black text-center mb-9">
        Oops!
      </h2>
      <p class="w-full text-lg text-center text-black">
        We're sorry but this page is still in construction!
      </p>
    </div>
  </main>
{% endblock %}
