{% extends "_base_form.html" %}
{% load static %}
{% block title %}MoodMo - Update mood{% endblock %}
{% block heading %}Update your mood{% endblock %}
{% block form_action %}{% url 'mood_edit' mood.sqid %}{% endblock %}
{% block form_body %}
    {% for field in form %}
        {% if field.name == 'mood' %}
            <ul class="mb-4 grid w-full gap-x-1.5 grid-cols-5" x-data="{selectedMood: {{mood.mood}}}">
                <template x-for="(key, _) in Object.keys(moodToIcon).sort()" :key="key">
                    <li class="text-center">
                        <input type="radio" :id="key" name="mood" :value="key" x-model="selectedMood" class="hidden peer" required>
                        <label :for="key"
                               class="flex items-center justify-center w-full px-1 py-2 border border-stone-500 rounded-xl cursor-pointer peer-checked:border-primary-500 peer-checked:bg-primary-500 hover:bg-stone-100">
                            <div class="block">
                                <i class="text-6xl" :class="moodToIcon[key]"></i>
                            </div>
                        </label>
                    </li>
                </template>
            </ul>
        {% elif field.name == 'activities' %}
            <div class="max-h-56 h-full overflow-y-scroll p-3 my-6 flex flex-wrap justify-center gap-x-1.5 gap-y-4">
                {% for choice_id, choice_label in form.activities.field.choices %}
                    <div>
                        {% if choice_id in form.activities.value %}
                            <input type="checkbox" name="activities" id="id_activities_{{choice_id}}" value="{{ choice_id }}" class="peer hidden" checked />
                        {% else %}
                            <input type="checkbox" name="activities" id="id_activities_{{choice_id}}" value="{{ choice_id }}" class="peer hidden" />
                        {% endif %}
                        <label for="id_activities_{{choice_id}}" class="select-none cursor-pointer text-primary-500 bg-white border border-primary-500 hover:bg-primary-500 hover:text-white hover:border-primary-500 focus:outline-none focus:ring-4 focus:ring-primary-300 font-bold rounded-full text-sm px-3 py-1.5 text-center peer-checked:bg-primary-500 peer-checked:text-white transition-colors">
                            {{ choice_label }}
                        </label>
                    </div>
                {% endfor %}

                <div>
                    <a href="{% url 'activity_create' %}" class="select-none cursor-pointer text-stone-500 bg-white border border-stone-500 hover:bg-primary-500 hover:text-white hover:border-primary-500 focus:outline-none focus:ring-4 focus:ring-primary-300 font-bold rounded-full text-sm px-3 py-1.5 text-center">
                        Add activity
                    </a>
                </div>
            </div>
        {% else %}
            <div class="mb-4">
                {{ field }}
            </div>
        {% endif %}
    {% endfor %}

    <button type="submit">
        Update
    </button>
    <a href="{% url 'mood_list' %}" class="form__link">
        Go back
    </a>

    <!-- Custom JS -->
    <script src="{% static 'js/custom.js' %}" defer></script>
{% endblock %}
