{% extends "_base.html" %}
{% load static %}

{% block title %}Moods{% endblock title %}

{% block content %}
  <header>
    {% include "_primary_nav.html" %}
  </header>

  <main class="mt-32 mb-12 mx-3.5 md:w-3/4 max-w-2xl md:mx-auto">
    <ul id="moodList" class="flex flex-col gap-y-3">
      {% include 'moods/hx_mood_list.html' %}
    </ul>

    <div id="loading" class="htmx-indicator flex flex-col gap-y-3">
      {% for i in "01234"|make_list %}
        <li class="htmx-indicator flex items-center gap-x-2 mb-1.5 py-4 px-6 bg-white border border-stone-50 drop-shadow-sm shadow-stone-900 rounded-xl">
          <div class="w-16 h-16 bg-stone-300 rounded-full animate-pulse min-w-16"></div>
          <div class="flex flex-col gap-y-1 w-full">
            <div class="flex gap-x-1.5">
              <span class=" bg-stone-300 px-3 py-1 w-16 rounded-xl animate-pulse">&nbsp;</span>
              <span class="bg-stone-300 px-3 py-1 w-24 rounded-xl animate-pulse">&nbsp;</span>
            </div>
            <p class="bg-stone-300 w-full rounded-xl animate-pulse">&nbsp;</p>
          </div>
        </li>
      {% endfor %}
    </div>
  </main>

  <!-- Custom JS -->
  <script src="{% static 'js/custom.js' %}" defer></script>
{% endblock content %}
