{% extends "_base.html" %}

{% block title %}Moods - Import{% endblock title %}

{% block content %}
  {% include "_secondary_nav.html" %}

  <main class="max-w-md mx-auto py-4 px-6 bg-white rounded-2xl drop-shadow-sm shadow-stone-900 border border-stone-50">
    <h4 class="w-full text-2xl font-bold text-stone-900 text-center py-4">
      Import your moods
    </h4>

    <form id="mood_import" method="post" role="form" action="{% url 'mood_import' %}" enctype="multipart/form-data" x-data="{files: []}">
      {% csrf_token %}

      <div class="mb-4">
        <input id="id_file" name="file" type="file" class="hidden peer" accept=".csv,.json" x-on:change="files = $event.target.files"/>

        <label for="id_file" class="flex flex-col items-center justify-center text-stone-700 w-full h-64 pt-5 pb-7 border-2 border-stone-700 border-dashed select-none rounded-xl cursor-pointer bg-stone-50 transition-colors">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 mb-2.5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" />
          </svg>
          <p class="mb-2"><span class="font-semibold">Click to upload</span> or drag and drop</p>
          <p>CSV or JSON</p>
        </label>

        <template x-for="file in files">
          <div class="flex items-center justify-between gap-x-3.5 mt-4 text-lg border border-stone-300 rounded-xl px-2.5 py-2 text-stone-700">
            <p class="truncate" x-text="file.name"></p>
            <span role="button" x-on:click="() => { document.getElementById('mood_import').reset(); files = [];}">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </span>
          </div>
        </template>
      </div>

      {% for error in form.errors.file %}
        <div class="text-red-500 text-sm font-semibold px-4 mb-2.5 flex items-start justify-start gap-x-1.5">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
            </svg>
          </span>
          <p>{{ error }}</p>
        </div>
        </div>
      {% endfor %}

      <button type="submit"
              class="mt-6 py-4 text-xl text-white bg-primary-500 rounded-full w-full">
        Import
      </button>
    </form>

    <a href="{% url 'mood_list' %}" class="block mt-4 text-lg text-center text-primary-500 underline">
      Go back
    </a>
  </main>

{% endblock %}
