<section id="faq" x-data="{
                          faqs: [
                          {
                          question: 'How is development going?',
                          answer: 'Glad you asked! The development of MoodMo is progressing smoothly, with considerable time and dedication invested in refining every aspect. However, until the official launch of version `v1.0.0`, it\'s best to approach MoodMo with a touch of curiosity and a hint of excitement. We\'re meticulously crafting an experience that exceeds expectations, but anticipation adds a special flavor to the journey.',
                          },
                          {
                          question: 'Where can I self-host MoodMo?',
                          answer: 'You should be able to self-host MoodMo in any platform or computer with support for Docker or, at least, with access to a PostgreSQL database and a Python interpreter. PostgreSQL is needed due to how full-text search has been implemented.',
                          },
                          {
                          question: 'Is my data encrypted?',
                          answer: 'No. Your information is not encrypted. However, enhacing security and privacy measures like encryption is a top priority on the current development roadmap and it should be implemented before version `v1.0.0` is launched.',
                          },
                          {
                          question: 'Isn\'t documentation a bit lacking?',
                          answer: 'Yes. Improving the documentation is another priority and, like encryption, you can expect significant improvements soon.',
                          },
                          {
                          question: 'What about exporting/importing my data?' ,
                          answer: 'Yes. Before version `v1.0.0` is launched you would be able to import and export your moods in CSV or JSON formats.',
                          },
                          {
                          question: 'How can I provide feeback or suggestions for MoodMo?' ,
                          answer: 'Right now the best way to provide feedback or suggestions is on the GitHub repository.',
                          },
                          ],
                          }">
  <header>
    <h1 class="font-bold text-center text-5xl">
      FAQ
    </h1>
  </header>
  <main class="max-w-screen-md mt-9 md:mx-auto">
    <template x-for="(faq, index) in faqs" :key="index">
      <div x-data="{ expanded: false }" class="my-3 border-b-2 border-b-black">
        <h2>
          <button :id="'faq-title-' + (index + 1)" type="button"
                  class="flex items-center justify-between font-bold text-xl md:text-2xl text-left uppercase py-3 px-1.5 w-full"
                  @click="expanded = !expanded" :aria-expanded="expanded" :aria-controls="'faq-text-' + (index + 1)">
            <p x-text="faq.question"></p>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                 class="min-w-6 min-h-6 h-6 w-6 transition-transform duration-300 ease-in-out"
                 :class="expanded ? '-rotate-180' : 'rotate-0'">
              <path fill="currentColor"
                    d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z" />
            </svg>

          </button>
        </h2>

        <div :id="'faq-text-' + (index + 1)" role="region" :aria-labelledby="'faq-title-' + (index + 1)"
             class="grid overflow-hidden transition-all duration-300 ease-in-out"
             :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'">
          <div class="overflow-hidden">
            <p class="mb-3 px-1.5 text-black text-lg sm:text-xl md:text-2xl" x-text="faq.answer"></p>
          </div>
        </div>
      </div>
    </template>
  </main>
</section>
