{% load static %}

<section id="features" class="py-12 sm:py-16 md:py-24 px-6 md:px-16 bg-black rounded-3xl">
  <header class="mb-9 sm:mb-12">
    <h1 class="font-bold text-5xl text-white tracking-tight text-center sm:text-left">
      Features
    </h1>
  </header>
  <main class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3 sm:gap-y-3 md:gap-y-none md:gap-6 text-xl sm:text-2xl text-center text-black">
    <article class="w-full bg-periwinkle-500 py-9 px-6 grid grid-rows-[auto_auto_1fr] rounded-3xl">
      <header>
        <h2 class="font-bold uppercase">
          Customizable mood tracking
        </h2>
      </header>
    </header>
    <main class="mt-3 mb-6">
      <p>
        Edit your moods or add more to better reflect how you are feeling.
      </p>
    </main>
    <footer class="self-end">
      <img src="{% static 'images/1.svg' %}" class="h-1/4 w-auto">
    </footer>
  </article>

  <article class="w-full bg-naples-500 py-9 px-6 grid grid-rows-[auto_auto_1fr] rounded-3xl">
    <header>
      <h2 class="font-bold uppercase">
        Add more context to your moods
      </h2>
    </header>
    <main class="mt-3 mb-6">
      <p>
        Improve your mood entries by incorporating activities and things like the weather.
      </p>
    </main>
    <footer class="self-end">
      <img src="{% static 'images/2.svg' %}" class="h-1/4 w-auto" />
    </footer>
  </article>

  <article class="w-full bg-navajo-500 py-9 px-6 grid grid-rows-[auto_auto_1fr] rounded-3xl">
    <header>
      <h2 class="font-bold uppercase">
        A better way to journal
      </h2>
    </header>
    <main class="mt-3 mb-6">
      <p>
        Expand upon your thoughts and feelings in a more extended manner.
      </p>
    </main>
    <footer class="self-end">
      <img class="w-full" src="{% static 'images/3.svg' %}"  class="h-1/4 w-auto"  />
    </footer>
  </article>

  <article class="w-full bg-cinnabar-400 py-9 px-6 grid grid-rows-[auto_auto_1fr] rounded-3xl">
    <header>
      <h2 class="font-bold uppercase">
        Explore past moods easily
      </h2>
    </header>
    <main class="mt-3 mb-6">
      <p>
        Explore and navigate your mood entries using MoodMo's advanced search.
      </p>
    </main>
    <footer class="self-end">
      <img src="{% static 'images/4.svg' %}" class="h-1/4 w-auto" />
    </footer>
  </article>
</main>
</section>
