<div class="mt-56 text-center text-black">
  <h1 class="font-bold tracking-tight text-5xl sm:text-6xl md:text-8xl">
    Track Your Mood &
    <br class="hidden md:block">
    Improve Your Well-Being
  </h1>
  <p class="mt-3 md:mt-6 max-w-xl mx-auto text-xl md:text-2xl">
    Capture your emotional journey effortlessly, whether you're at your desk or on the move.
  </p>
  <a href="{% url 'account_signup' %}"
     class="flex items-center justify-center max-w-md mx-auto mt-6 sm:mt-9 uppercase text-lg font-bold bg-periwinkle-500 py-6 px-12 rounded-full hover:bg-black hover:text-white transition-colors">
    Start tracking your mood
  </a>
</div>
