<section id="why" class="max-w-screen-lg md:mx-auto">
  <p class="font-medium text-2xl sm:text-4xl text-center">
    MoodMo is a passion project born from a longing for privacy, simplicity, and genuine self-reflection. With the added
    flexibility of self-hosting, MoodMo empowers you to take control of your data while also enabling you to track your
    mood anywhere you are, not just on your phone.
  </p>

  <div class="flex items-center justify-center mt-6 sm:mt-9 uppercase text-lg font-bold">
    <a href="{% url 'account_signup' %}"
       class="flex items-center justify-center bg-periwinkle-500 py-6 px-12 rounded-full hover:bg-black hover:text-white transition-colors">
      Get started today
    </a>
  </div>
</section>
