{% extends "_base_form.html" %}
{% block title %}MoodMo - Delete account{% endblock %}
{% block heading %}Warning!{% endblock %}
{% block form_action %}{% url 'account_delete' %}{% endblock %}
{% block form_body %}
  <div class="w-full text-xl text-center text-black">
    <p>Deleting your account will permanently erase all of your mood tracking data and journal entries from MoodMo. This
      action cannot be undone.</p>
    <p>Are you sure you want to proceed?</p>
  </div>
  <input type="submit"
         class="w-full mt-6 sm:mt-9 uppercase text-lg font-bold bg-red-500 py-6 px-12 rounded-full hover:bg-black hover:text-red-500 cursor-pointer"
         value="Delete account" />

  <div class="mt-3 text-xl flex justify-center">
    <a href="{% url 'mood_list' %}" class="form__link">
      Cancel
    </a>
  </div>
{% endblock %}
