{% extends "_base_form.html" %}
{% block title %}MoodMo - Import{% endblock %}
{% block heading %}Import your moods{% endblock %}
{% block form_extra %}enctype="multipart/form-data" x-data="{files: []}"{% endblock %}
{% block form_action %}{% url 'import' %}{% endblock %}
{% block form_body %}
  <div class="mb-4">
    <input id="id_file" name="file" type="file" class="hidden peer" accept=".csv,.json" x-on:change="files = $event.target.files"/>

    <label for="id_file" class="flex flex-col items-center justify-center text-black w-full h-64 pt-9 pb-9 border-2 border-black border-dashed select-none rounded-3xl cursor-pointer bg-stone-50 transition-colors">
      <i class="fa-solid fa-cloud-arrow-up text-8xl opacity-70"></i>
      <p class="opacity-70 text-lg">
        <span class="font-bold">Click to upload</span> or drag and drop</p>
      <p class="opacity-70 text-lg">
        CSV or JSON
      </p>
    </label>

    <template x-for="file in files">
      <div class="flex items-center justify-between gap-x-3.5 mt-3 text-lg border-2 border-black rounded-3xl px-3 py-3 black">
        <p class="truncate" x-text="file.name"></p>
        <span role="button" x-on:click="() => { document.querySelector('form').reset(); files = [];}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="w-5 h-5 text-black">
            <path fill="currentColor"
                  d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
          </svg>
        </span>
      </div>
    </template>
  </div>

  {% for error in form.errors.file %}
    <div class="mx-3 my-3 text-red-500 text-lg font-bold">
      <i class="fa-solid fa-triangle-exclamation"></i>
      {{ error }}
    </div>
  {% endfor %}

  <button type="submit">
    Import
  </button>

  <div class="mt-3 text-xl flex justify-center">
    <a href="{% url 'mood_list' %}" class="form__link">
      Go back
    </a>
  </div>
{% endblock %}
