{% extends "_base.html" %}
{% block title %}MoodMo - Activities{% endblock title %}
{% block content %}
  <header>
    {% include "_primary_nav.html" %}
  </header>

  <main class="flex flex-col mb-44 max-w-screen-md mx-3 sm:mx-6 lg:mx-auto">
    <ul class="mt-44 flex flex-wrap items-center justify-center gap-3 text-base sm:text-lg text-black">
      {% for activity in activities %}
        <li
          class="flex items-center justify-between py-3 px-6 select-none bg-white border-2 border-black rounded-3xl hover:border-primary-500 hover:bg-primary-500 transition-colors cursor-pointer"
          hx-get="{% url 'activity_edit' activity.sqid %}"
          hx-trigger="click"
          hx-target="body"
        >
          <p>{{activity.name}}</p>
        </li>

      {% endfor %}
    </ul>

    <a href="{% url 'activity_create' %}"
       class="flex items-center justify-center w-full mx-auto my-9 max-w-md bg-periwinkle-500 py-6 px-12 uppercase text-lg font-bold rounded-full hover:bg-black hover:text-white transition-colors"
       role="button">
      Create a new activity
    </a>
  </main>
{% endblock content %}
