{% extends "_base.html" %}
{% block title %}MoodMo - Activities{% endblock title %}
{% block content %}
  <header>
    {% include "_primary_nav.html" %}
  </header>

  <main class="flex flex-col mb-44 max-w-screen-md mx-3 sm:mx-6 lg:mx-auto">
    <ul class="mt-44 flex flex-wrap items-center justify-center gap-3 text-base sm:text-lg text-black">
      {% for activity in activities %}
        <li class="relative" x-data="{
                                     popoverOpen: false,
                                     popoverArrow: true,
                                     popoverPosition: 'bottom',
                                     popoverHeight: 0,
                                     popoverOffset: 8,
                                     popoverHeightCalculate() {
                                     this.$refs.popover.classList.add('invisible');
                                     this.popoverOpen=true;
                                     let that=this;
                                     $nextTick(function(){
                                     that.popoverHeight = that.$refs.popover.offsetHeight;
                                     that.popoverOpen=false;
                                     that.$refs.popover.classList.remove('invisible');
                                     that.$refs.popoverInner.setAttribute('x-transition', '');
                                     that.popoverPositionCalculate();
                                     });
                                     },
                                     popoverPositionCalculate(){
                                     if(window.innerHeight < (this.$refs.popoverButton.getBoundingClientRect().top + this.$refs.popoverButton.offsetHeight + this.popoverOffset + this.popoverHeight)){
                                     this.popoverPosition = 'top';
                                     } else {
                                     this.popoverPosition = 'bottom';
                                     }
                                     }
                                     }"
            x-init="
                    that = this;
                    window.addEventListener('resize', function(){
                    popoverPositionCalculate();
                    });
                    $watch('popoverOpen', function(value){
                    if(value){ popoverPositionCalculate() }
                    });
                   ">

          <div x-ref="popoverButton" @click="popoverOpen=!popoverOpen"
               class="flex items-center justify-between py-3 px-6 select-none bg-white border-2 border-black rounded-3xl hover:border-primary-500 hover:bg-primary-500 transition-colors"
               role="button">
            <p>{{activity.name}}</p>
          </div>
          <!-- Popover -->
          <div x-ref="popover" x-show="popoverOpen" x-init="setTimeout(function(){ popoverHeightCalculate(); }, 100);"
               x-trap.inert="popoverOpen" @click.away="popoverOpen=false;" @keydown.escape.window="popoverOpen=false"
               :class="{ 'top-0 mt-12' : popoverPosition == 'bottom', 'bottom-0 mb-12' : popoverPosition == 'top' }"
               class="absolute w-44 max-w-lg -translate-x-1/2 left-1/2 z-50" x-cloak>
            <div x-ref="popoverInner" x-show="popoverOpen"
                 class="w-44 p-3 bg-white rounded-md drop-shadow-md border border-stone-100">
              <div class="flex flex-col gap-1.5 text-lg text-black">
                <a href="{% url 'activity_edit' activity.sqid %}">
                  Edit
                </a>
                <a class="text-red-500" href="{% url 'activity_delete' activity.sqid %}">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </li>

      {% endfor %}
    </ul>

    <a href="{% url 'activity_create' %}"
       class="flex items-center justify-center w-full mx-auto my-9 max-w-md bg-periwinkle-500 py-6 px-12 uppercase text-lg font-bold rounded-full hover:bg-black hover:text-white transition-colors"
       role="button">
      Create a new activity
    </a>
  </main>
{% endblock content %}
