{% extends "_base.html" %}

{% block title %}Activities{% endblock title %}

{% block content %}
  <header>
    {% include "_primary_nav.html" %}
  </header>
  <main class="mt-32 mb-12 mx-3.5 md:w-3/4 max-w-2xl md:mx-auto flex flex-col items-center gap-y-4">
    <ul class="flex flex-wrap items-center justify-center gap-1.5 text-lg text-stone-900">
      {% for activity in activities %}
        <li class="relative" x-data="{
                                     popoverOpen: false,
                                     popoverArrow: true,
                                     popoverPosition: 'bottom',
                                     popoverHeight: 0,
                                     popoverOffset: 8,
                                     popoverHeightCalculate() {
                                     this.$refs.popover.classList.add('invisible');
                                     this.popoverOpen=true;
                                     let that=this;
                                     $nextTick(function(){
                                     that.popoverHeight = that.$refs.popover.offsetHeight;
                                     that.popoverOpen=false;
                                     that.$refs.popover.classList.remove('invisible');
                                     that.$refs.popoverInner.setAttribute('x-transition', '');
                                     that.popoverPositionCalculate();
                                     });
                                     },
                                     popoverPositionCalculate(){
                                     if(window.innerHeight < (this.$refs.popoverButton.getBoundingClientRect().top + this.$refs.popoverButton.offsetHeight + this.popoverOffset + this.popoverHeight)){
                                     this.popoverPosition = 'top';
                                     } else {
                                     this.popoverPosition = 'bottom';
                                     }
                                     }
                                     }"
            x-init="
                    that = this;
                    window.addEventListener('resize', function(){
                    popoverPositionCalculate();
                    });
                    $watch('popoverOpen', function(value){
                    if(value){ popoverPositionCalculate() }
                    });
                   ">

          <div x-ref="popoverButton" @click="popoverOpen=!popoverOpen"
               class="flex items-center justify-between py-4 px-6 select-none bg-white border border-stone-50 drop-shadow-sm shadow-stone-900 rounded-full"
               role="button">
            <p>{{activity.name}}</p>
          </div>
          <!-- Popover -->
          <div x-ref="popover" x-show="popoverOpen" x-init="setTimeout(function(){ popoverHeightCalculate(); }, 100);"
               x-trap.inert="popoverOpen" @click.away="popoverOpen=false;" @keydown.escape.window="popoverOpen=false"
               :class="{ 'top-0 mt-12' : popoverPosition == 'bottom', 'bottom-0 mb-12' : popoverPosition == 'top' }"
               class="absolute w-44 max-w-lg -translate-x-1/2 left-1/2 z-50" x-cloak>
            <div x-ref="popoverInner" x-show="popoverOpen"
                 class="w-44 p-3.5 bg-white rounded-md drop-shadow-md border border-stone-100">
              <div class="flex flex-col gap-1.5 text-lg text-stone-900">
                <a href="{% url 'activity_edit' activity.pk %}">
                  Edit
                </a>
                <a class="text-red-600" href="{% url 'activity_delete' activity.pk %}">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </li>

      {% endfor %}
    </ul>

    <a href="{% url 'activity_create' %}"
       class="text-white bg-stone-900 text-lg text-center py-4 px-6 select-none rounded-full drop-shadow-sm shadow-stone-900">
      Create a new activity
    </a>
  </main>
{% endblock content %}
