{% extends "_base_form.html" %}
{% block title %}MoodMo - Create activity{% endblock %}
{% block heading %}Add a new activity{% endblock %}
{% block form_action %}{% url 'activity_create' %}{% endblock %}
{% block form_body %}
  {% for field in form %}
    <div class="mb-3">
      {{ field }}
    </div>

    {% for error in field.errors %}
      <div class="mx-3 my-3 text-red-500 text-lg font-bold">
        <i class="fa-solid fa-triangle-exclamation"></i>
        {{ error }}
      </div>
    {% endfor %}

  {% endfor %}

  <button type="submit">
    Add
  </button>

  <div class="mt-3 text-xl flex justify-center">
    <a href="#" @click="goBack" class="form__link">
      Go back
    </a>
  </div>
{% endblock %}
