{% load static %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth scroll-pt-32 text-base">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Basic Meta Tags -->
    <title>{% block title %}MoodMo - A Self-Hosted Mood Tracking App{% endblock title %}</title>
    <meta name="description" content="MoodMo is an Open-Source, Self-Hosted mood tracking application designed for simplicity in deployment, usage and maintenance." />
    <meta name="keywords" content="Mood tracking, Journaling, Emotions, Self-care, Mental health, Well-being, Self-reflection, Open Source, Privacy, Self-hosted" />
    <meta name="author" content="dnlzrgz" />

    <!-- Fav icon -->
    <link rel="icon" href="{% static 'images/favicon.ico '%}" sizes="32x32">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Tailwind CSS -->
    {% if debug %}
      <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    {% else %}
      <link rel="stylesheet" href="{% static 'css/output.min.css' %}" />
    {% endif %}
  </head>

  <body
    class="bg-white"
    x-data="{
            menuOpen: false,
            }"
    x-init="
            $watch('menuOpen', function(value){
            if(value === true){
            document.body.classList.add('overflow-hidden');
            $nextTick(() => {
            window.dispatchEvent(new CustomEvent('command-input-focus', {}));
            });
            } else {
            document.body.classList.remove('overflow-hidden');
            }
            });
           "
    @keydown.escape.window="() => {menuOpen = false}"
  >
    {% block content %}
    {% endblock content %}

    <!-- Alpine.js -->
    <script src="{% static 'js/focus.js' %}" defer></script>
    <script src="{% static 'js/alpine.js' %}" defer></script>

    <!-- HTMX -->
    <script src="{% static 'js/htmx.js' %}" defer></script>
    {% if debug %}
      <script src="{% static 'js/debug.js' %}" defer></script>
    {% endif %}
  </body>
</html>
