{% extends "_base.html" %}
{% block title %}Title{% endblock %}
{% block content %}
  <nav class="fixed w-full bg-white p-3 border-b-2 border-b-black z-50" aria-label="Global">
    <div class="w-full max-w-screen-2xl mx-auto flex items-center justify-between p-3 text-lg font-bold uppercase">
      <a href="{% url 'home' %}" class="flex items-center justify-center gap-x-3 hover:text-primary-500 transition-colors">
        <i class="fa-solid fa-arrow-left"></i>
        Go home
      </a>

      <div class="flex items-center gap-x-6 p-3">
        {% if request.path == '/accounts/login/' %}
          <a
            href="{% url 'account_signup' %}"
            class="hover:text-primary-500 transition-colors">
            Sign up
          </a>
        {% elif request.path == '/accounts/signup/' %}
          <a
            href="{% url 'account_login' %}"
            class="hover:text-primary-500 transition-colors">
            Log in
          </a>
        {% endif %}
      </div>
    </nav>

    <main class="min-h-screen bg-white flex items-center justify-center">
      <div class="max-w-md w-full mx-auto py-9 px-6 bg-white rounded-3xl ">
        <h2 class="w-full text-4xl font-bold text-black text-center mb-9">
          {% block heading %}Form heading{% endblock %}
        </h2>

        <form class="form" method="post" role="form" action="{% block form_action %}{% endblock %}" {% block form_extra %}{%endblock %}>
          {% csrf_token %}
          {% block form_body %}
          {% endblock %}
        </form>
      </div>
    </main>
{% endblock %}
