<template x-teleport="body">
  <div x-show="commandOpen"
       class="fixed top-0 left-0 z-50 flex items-start sm:items-center justify-center w-screen h-screen backdrop-blur-sm"
       x-cloak>
    <div x-show="commandOpen" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0"
         x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-300"
         x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" @click="commandOpen=false"
         class="absolute inset-0 w-full h-full"></div>
    <div x-show="commandOpen" x-trap.inert.noscroll="commandOpen" x-transition:enter="ease-out duration-300"
         x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
         x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100" x-transition:leave="ease-in duration-200"
         x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
         x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" x-data="{
                                                                                               commandItems: {
                                                                                               commands : [
                                                                                               {
                                                                                               title: 'New mood',
                                                                                               value: 'mood_create',
                                                                                               icon: '<svg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\' stroke-width=\'1.5\' stroke=\'currentColor\' data-slot=\'icon\' class=\'w-5 h-5\'><path stroke-linecap=\'round\' stroke-linejoin=\'round\' d=\'M12 4.5v15m7.5-7.5h-15\'/></svg>',
                                                                                               default: true,
                                                                                               },
                                                                                               {
                                                                                               title: 'New activity',
                                                                                               value: 'activity_create',
                                                                                               icon:'<svg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\' stroke-width=\'1.5\' stroke=\'currentColor\' class=\'w-5 h-5\'><path stroke-linecap=\'round\' stroke-linejoin=\'round\' d=\'M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5-3.9 19.5m-2.1-19.5-3.9 19.5\' /></svg>',
                                                                                               default: true,
                                                                                               },
                                                                                               ],
                                                                                               settings: [
                                                                                               {
                                                                                               title: 'Export moods',
                                                                                               value: 'export',
                                                                                               icon: '<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 20 20\' fill=\'currentColor\' class=\'w-5 h-5\'><path d=\'M10.75 2.75a.75.75 0 0 0-1.5 0v8.614L6.295 8.235a.75.75 0 1 0-1.09 1.03l4.25 4.5a.75.75 0 0 0 1.09 0l4.25-4.5a.75.75 0 0 0-1.09-1.03l-2.955 3.129V2.75\' /><path d=\'M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z\'/></svg>',
                                                                                               default: true,
                                                                                               },
                                                                                               {
                                                                                               title: 'Import moods',
                                                                                               value: 'import',
                                                                                               icon: '<svg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\' stroke-width=\'1.5\' stroke=\'currentColor\' class=\'w-5 h-5\'><path stroke-linecap=\'round\' stroke-linejoin=\'round\' d=\'M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z\'/></svg>',
                                                                                               default: true,
                                                                                               },
                                                                                               {
                                                                                               title: 'Sign Out',
                                                                                               value: 'signout',
                                                                                               icon: '<svg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\' stroke-width=\'1.5\' stroke=\'currentColor\' data-slot=\'icon\' class=\'w-5 h-5\'><path stroke-linecap=\'round\' stroke-linejoin=\'round\' d=\'M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9\'/></svg>',
                                                                                               default: true,
                                                                                               },
                                                                                               ],
                                                                                               },
                                                                                               moods: [],
                                                                                               errorFetching: false,
                                                                                               fetching: false,
                                                                                               fetchDelay: 350,
                                                                                               commandItemsFiltered: [],
                                                                                               commandItemActive: null,
                                                                                               commandItemSelected: null,
                                                                                               commandId: $id('command'),
                                                                                               commandSearch: '',
                                                                                               commandSearchIsEmpty() {
                                                                                               return this.commandSearch.length == 0;
                                                                                               },
                                                                                               commandItemIsActive(item) {
                                                                                               return this.commandItemActive && this.commandItemActive.value==item.value;
                                                                                               },
                                                                                               commandItemActiveNext(){
                                                                                               let index = this.commandItemsFiltered.indexOf(this.commandItemActive);

                                                                                               if(index < this.commandItemsFiltered.length-1){
                                                                                               this.commandItemActive = this.commandItemsFiltered[index+1];
                                                                                               this.commandScrollToActiveItem();
                                                                                               }
                                                                                               },
                                                                                               commandItemActivePrevious(){
                                                                                               let index = this.commandItemsFiltered.indexOf(this.commandItemActive);
                                                                                               if(index > 0){
                                                                                               this.commandItemActive = this.commandItemsFiltered[index-1];
                                                                                               this.commandScrollToActiveItem();
                                                                                               }
                                                                                               },
                                                                                               commandScrollToActiveItem(){
                                                                                               if(this.commandItemActive){
                                                                                               activeElement = document.getElementById(this.commandItemActive.value + '-' + this.commandId)

                                                                                               if(!activeElement) return;

                                                                                               newScrollPos = (activeElement.offsetTop + activeElement.offsetHeight) - this.$refs.commandItemsList.offsetHeight;
                                                                                               if(newScrollPos > 0){
                                                                                               this.$refs.commandItemsList.scrollTop=newScrollPos;
                                                                                               } else {
                                                                                               this.$refs.commandItemsList.scrollTop=0;
                                                                                               }
                                                                                               }
                                                                                               },
                                                                                               commandSearchItems() {
                                                                                               if(!this.commandSearchIsEmpty()){
                                                                                               searchTerm = this.commandSearch.replace(/\*/g, '').toLowerCase();

                                                                                               // Update command list
                                                                                               this.commandItemsFiltered = this.commandItems.filter(item => item.title.toLowerCase().startsWith(searchTerm));

                                                                                               // Fetch new moods
                                                                                               this.errorFetching = false;
                                                                                               this.moods = []
                                                                                               this.fetching = true;
                                                                                               this.debouncedFetchMoods(
                                                                                               encodeURIComponent(searchTerm)
                                                                                               );

                                                                                               this.commandScrollToActiveItem();
                                                                                               } else {
                                                                                               this.moods = [];
                                                                                               this.commandItemsFiltered = this.commandItems.filter(item => item.default);
                                                                                               }

                                                                                               this.commandItemActive = this.commandItemsFiltered[0];
                                                                                               },
                                                                                               commandShowCategory(item, index){
                                                                                               if(index == 0) return true;

                                                                                               if(typeof this.commandItems[index-1] === 'undefined') return false;

                                                                                               return item.category != this.commandItems[index-1].category;
                                                                                               },
                                                                                               commandCategoryCapitalize(string){
                                                                                               return string.charAt(0).toUpperCase() + string.slice(1);
                                                                                               },
                                                                                               commandItemsReorganize(){
                                                                                               commandItemsOriginal = this.commandItems;
                                                                                               keys = Object.keys(this.commandItems);
                                                                                               this.commandItems = [];

                                                                                               keys.forEach((key, index) => {
                                                                                               for(i=0; i<commandItemsOriginal[key].length; i++){
                                                                                               commandItemsOriginal[key][i].category = key;
                                                                                               this.commandItems.push( commandItemsOriginal[key][i] );
                                                                                               }
                                                                                               });
                                                                                               },
                                                                                               redirectToMoodEditPage(moodId) {
                                                                                               const url = `{% url 'mood_edit' 0 %}`.replace('0', moodId);
                                                                                               window.location.href = url;
                                                                                               },
                                                                                               async fetchMoods(searchTerm) {
                                                                                               fetch(`/moods/api/v1/search?q=${searchTerm}`)
                                                                                               .then(response => {
                                                                                               if (response.status != 200) {
                                                                                               this.errorFetching = true;
                                                                                               }
                                                                                               return response.json();
                                                                                               })
                                                                                               .then(data => {
                                                                                               this.moods = data;
                                                                                               this.fetching = false;
                                                                                               }).catch(error => {
                                                                                               this.errorFetching = true;
                                                                                               this.fetching = false;
                                                                                               }
                                                                                               );
                                                                                               },
                                                                                               debouncedFetchMoods: function() {
                                                                                               let timeout;

                                                                                               return function(searchTerm) {
                                                                                               clearTimeout(timeout);

                                                                                               timeout = setTimeout(() => {
                                                                                               this.fetchMoods(searchTerm);
                                                                                               }, this.fetchDelay);
                                                                                               };
                                                                                               }(),
                                                                                               }" x-init="
                                                                                                                   commandItemsReorganize();
                                                                                                                   commandItemsFiltered = commandItems;
                                                                                                                   commandItemActive=commandItems[0];
                                                                                                                   $watch('commandSearch', value => commandSearchItems());
                                                                                                                   $watch('commandItemSelected', function(item){
                                                                                                                   if(item.value == 'mood_create'){
                                                                                                                   window.location.href = '{% url 'mood_create' %}';
                                                                                                                   } else if (item.value == 'activity_create') {
                                                                                                                   window.location.href = '{% url 'activity_create' %}';
                                                                                                                   } else if (item.value == 'signout') {
                                                                                                                   window.location.href = '{% url 'account_logout' %}';
                                                                                                                   } else if (item.value == 'export') {
                                                                                                                   window.location.href = '{% url 'mood_export' %}';
                                                                                                                   } else if (item.value == 'import') {
                                                                                                                   window.location.href = '{% url 'mood_import' %}';
                                                                                                                   }
                                                                                                                   });
                                                                                                                  "
         @keydown.down="event.preventDefault(); commandItemActiveNext();"
         @keydown.up="event.preventDefault(); commandItemActivePrevious()"
         @keydown.enter="commandItemSelected=commandItemActive;" @command-input-focus.window="$refs.commandInput.focus();"
         class="flex m-3 sm:m-0 min-h-[370px] justify-center w-full max-w-xl items-start relative" x-cloak>
      <div
        class="box-border p-3.5 w-full h-full overflow-hidden bg-white rounded-xl border border-stone-50 drop-shadow-md shadow-stone-900">

        <!-- Search bar -->
        <div class="flex items-center border-b-2 border-stone-500">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" data-slot="icon"
               class="w-5 h-5 text-stone-900">
            <path fill-rule="evenodd"
                  d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"
                  clip-rule="evenodd" />
          </svg>

          <input type="text" x-ref="commandInput" x-model="commandSearch"
                 class="w-full mr-2 text-lg bg-transparent border-0 outline-none focus:outline-none focus:ring-0 focus:border-0 placeholder:text-stone-700"
                 placeholder="Type a command or search moods" autocomplete="off" autocorrect="off" spellcheck="false" />

          <kbd
            class="px-3 py-1.5 text-sm font-semibold text-stone-900 bg-stone-50 border border-stone-300 rounded-md cursor-pointer"
            @click="commandOpen = false" role="button">
            Esc
          </kbd>
        </div>

        <!-- Commands -->
        <div x-ref="commandItemsList" class="max-h-80 overflow-y-auto overflow-x-hidden">
          <template x-for="(item, index) in commandItemsFiltered" :key="'item-' + index">
            <div class="pb-1">
              <template x-if="commandShowCategory(item, index)">
                <p class="px-3 py-1.5 font-semibold text-sm text-stone-900"
                   x-text="commandCategoryCapitalize(item.category)"></p>
              </template>

              <template x-if="(item.default && commandSearchIsEmpty()) || !commandSearchIsEmpty()">
                <div :id="item.value + '-' + commandId" @click="commandItemSelected=item"
                     @mousemove="commandItemActive=item"
                     :class="{ 'bg-primary-500 text-white' : commandItemIsActive(item) }"
                     class="flex items-center gap-x-2 py-0.5 px-1.5 mx-3 cursor-pointer select-none rounded-lg text-lg transition-colors">
                  <span x-html="item.icon"></span>
                  <span x-text="item.title"></span>
                </div>
              </template>
            </div>
          </template>
        </div>

        <!-- Moods -->
        <div x-ref="moodsItemList" class="max-h-80 overflow-y-auto overflow-x-hidden">
          <div class="pb-1">
            <p class="px-3 py-1.5 font-semibold text-sm text-stone-900">
              Moods
            </p>

            <!-- Loading indicator -->
            <template x-if="fetching && !errorFetching">
              <div class="flex justify-center p-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="text-stone-900 animate-spin w-5 h-5"
                     viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
              </div>
            </template>

            <!-- Search -->
            <template x-if="moods.length == 0 && !fetching && !errorFetching && commandSearch.length <= 0">
              <div class="flex items-center gap-x-2 py-0.5 px-1.5 mx-3 cursor-pointer select-none rounded-lg text-lg">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5 text-stone-900" viewBox="0 0 24 24"
                       stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" />
                  </svg>
                </span>

                <p>Start typing to search moods</p>
              </div>
            </template>

            <!-- Empty -->
            <template x-if="moods.length <= 0 && !fetching && !errorFetching && commandSearch.length > 0">
              <div class="flex items-center gap-x-2 py-0.5 px-1.5 mx-3 cursor-pointer select-none rounded-lg text-lg">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                       stroke="currentColor" class="w-5 h-5 text-stone-700">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.182 16.318A4.486 4.486 0 0 0 12.016 15a4.486 4.486 0 0 0-3.198 1.318M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" />
                  </svg>
                </span>
                <span>No moods found!</span>
              </div>
            </template>

            <!-- Error fetching -->
            <template x-if="errorFetching">
              <div
                class="flex items-center justify-center gap-x-2 py-0.5 px-1.5 select-none text-sm text-red-500 text-semibold">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                       stroke="currentColor" class="w-5 h-5 text-red-500">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                  </svg>
                </span>
                <span>
                  Something went wrong while fetching moods! Please try again
                </span>
              </div>
            </template>

            <!-- Mood list -->
            <template x-if="moods.length > 0">
              <ul>
                <template x-for="mood in moods">
                  <li
                    class="group flex gap-x-2 py-0.5 px-1.5 mx-3 cursor-pointer select-none rounded-lg truncate hover:text-white hover:bg-primary-500 transition-colors"
                    @click="redirectToMoodEditPage(mood.id)">
                    <time class="flex gap-x-0.5 text-sm font-semibold text-white">
                      <span class="bg-stone-900 px-3 py-1 rounded-xl group-hover:bg-primary-700"
                            x-text="formatDate(mood.timestamp)">
                      </span>
                      <span class="bg-stone-900 px-3 py-1 rounded-xl group-hover:bg-primary-700"
                            x-text="formatTime(mood.timestamp)"></span>
                    </time>
                    <p class="text-lg truncate" x-text="mood.note_title"></p>
                  </li>
                </template>
              </ul>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
