<section>
  <main class="grid grid-cols-1 lg:grid-cols-3 lg:grid-rows-2 gap-4">
    <article
      class="lg:col-span-2 col-start-1 row-start-1 bg-white text-stone-900 py-4 px-6 rounded-2xl border border-stone-50 drop-shadow-sm shadow-stone-900">
      <header>
        <span class="block py-4">
          <i class="fa-solid fa-hard-drive w-7 h-7"></i>
        </span>

        <h2 class="font-bold text-xl mb-2">
          Self-Hosted
        </h2>
      </header>
      <main>
        <p class="text-lg mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatem, tempore omnis fuga
          delectus odio porro
          autem vitae nisi consequatur at aperiam animi! Maiores eveniet porro quaerat neque consectetur aperiam.
        </p>
      </main>
      <footer>
        <a href="#" class="text-lg">Learn more</a>
      </footer>
    </article>

    <article
      class="bg-white text-stone-900 py-4 px-6 rounded-2xl border border-stone-50 drop-shadow-sm shadow-stone-900">
      <header>
        <span class="block py-4">
          <i class="fa-solid fa-face-smile w-7 h-7"></i>
        </span>

        <h2 class="font-bold text-xl mb-2">
          Mood tracking
        </h2>
      </header>
      <main>
        <p class="text-lg mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatem, tempore omnis fuga
          delectus odio porro
          autem vitae nisi consequatur at aperiam animi! Maiores eveniet porro quaerat neque consectetur aperiam.
        </p>
      </main>
    </article>

    <article
      class="bg-white text-stone-900 py-4 px-6 rounded-2xl border border-stone-50 drop-shadow-sm shadow-stone-900">
      <header>
        <span class="block py-3">
          <i class="fa-solid fa-feather w-7 h-7"></i>
        </span>

        <h2 class="font-bold text-xl mb-2">
          Journal
        </h2>
      </header>
      <main>
        <p class="text-lg mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatem, tempore omnis
          fuga delectus odio porro
          autem vitae nisi consequatur at aperiam animi! Maiores eveniet porro quaerat neque consectetur aperiam.</p>
      </main>
    </article>

    <article
      class="bg-white text-stone-900 py-4 px-6 rounded-2xl border border-stone-50 drop-shadow-sm shadow-stone-900">
      <header>
        <span class="block py-3">
          <i class="fa-solid fa-person-walking w-8 h-8"></i>
        </span>

        <h2 class="font-bold text-xl mb-2">
          Activities
        </h2>
      </header>
      <main>
        <p class="text-lg mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatem, tempore omnis
          fuga delectus odio porro
          autem vitae nisi consequatur at aperiam animi! Maiores eveniet porro quaerat neque consectetur aperiam.</p>
      </main>
    </article>

    <article
      class="bg-white text-stone-900 py-4 px-6 rounded-2xl border border-stone-50 drop-shadow-sm shadow-stone-900">
      <header>
        <span class="block py-3">
          <i class="fa-solid fa-cloud-arrow-down w-7 h-7"></i>
        </span>

        <h2 class="font-bold text-xl mb-2">
          Export and Backup
        </h2>
      </header>
      <main>
        <p class="text-lg mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatem, tempore omnis
          fuga delectus odio porro
          autem vitae nisi consequatur at aperiam animi! Maiores eveniet porro quaerat neque consectetur aperiam.</p>

      </main>
      <footer>
        <a href="#" class="text-lg">Learn more</a>
      </footer>
    </article>
  </main>
</section>
