<footer
  class="flex items-center justify-between bg-white w-full md:w-3/4 max-w-6xl py-2 px-4 sm:py-4 sm:px-6 rounded-t-2xl text-stone-900 text-lg drop-shadow-xl shadow-stone-900 border border-stone-5 mx-auto">
  <p class="text-sm font-semibold text-stone-700">
    &copy; {% now 'Y'%} MoodMo - Mood Tracking and Journal App by
    <a href="https://github.com/dnlzrgz" target="_blank" class="underline">@dnlzrgz</a>
  </p>

  <a href="https://github.com/dnlzrgz/moodmo" class="py-3 px-6 text-gray-700 hover:text-gray-900 transition-colors">
    <i class="fa-brands fa-github text-3xl"></i>
    <span class="sr-only">GitHub</span>
  </a>
</footer>
