<section class="text-xl mt-36 w-full md:w-3/4 max-w-6xl mx-auto">
  <!-- Main Hero Content -->
  <header class="mb-12">
    <h1 class="font-extrabold text-center text-stone-900 text-4xl sm:text-6xl lg:text-7xl">
      Self-hosted mood tracking and journal application for personal growth and self-care
    </h1>
  </header>

  <main class="flex flex-col sm:flex-row items-center justify-center sm:gap-x-6 gap-y-2">
    <!-- Features, Code, etc -->
    <a href="#_"
       class="flex items-center justify-center py-4 px-6 text-white bg-stone-900 border border-transparent rounded-full w-full max-w-72">
      Learn more
    </a>

    <!-- Sign Up -->
    <a href="{% url 'account_signup' %}"
       class="flex items-center justify-center gap-x-1.5 py-4 text-white bg-primary-500 border border-transparent rounded-full w-full max-w-72">
      Sign up for free

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" data-slot="icon"
           class="w-5 h-5 text-white">
        <path fill-rule="evenodd"
              d="M2 10a.75.75 0 0 1 .75-.75h12.59l-2.1-1.95a.75.75 0 1 1 1.02-1.1l3.5 3.25a.75.75 0 0 1 0 1.1l-3.5 3.25a.75.75 0 1 1-1.02-1.1l2.1-1.95H2.75A.75.75 0 0 1 2 10Z"
              clip-rule="evenodd" />
      </svg>
    </a>
  </main>
</section>
