<template x-teleport="body">
  <div x-show="menuOpen"
       class="fixed top-0 left-0 z-50 flex items-start justify-center w-screen h-screen px-4 py-2 backdrop-blur-sm"
       x-cloak>
    <div x-show="menuOpen" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0"
         x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-300"
         x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" @click="toggleMenu"
         class="absolute inset-0 w-full h-full bg-stone-900 bg-opacity-40"></div>
    <div x-show="menuOpen" x-trap.inert.noscroll="menuOpen" x-transition:enter="ease-out duration-300"
         x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
         x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100" x-transition:leave="ease-in duration-200"
         x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
         x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
         class="box-border p-3.5 w-full overflow-hidden bg-white rounded-xl border border-stone-50 drop-shadow-md shadow-stone-900">
      <div class="flex items-center justify-end mb-6">
        <button @click="toggleMenu" class="flex items-center justify-center text-stone-900">
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="flex flex-col items-center justify-around gap-y-3 pb-7 text-lg">
        {% if user.is_authenticated %}
          <a href="{% url 'mood_list' %}" class="{% if 'moods' in request.path %} text-primary-500 underline {% endif %}"
             @click="menuOpen = false">
            Moods
          </a>
          <a href="#" class="{% if 'search' in request.path %} text-primary-500 underline {% endif %}">
            Search
          </a>
          <a href="#" class="{% if 'settings' in request.path %} text-primary-500 underline {% endif %}">
            Settings
          </a>
          <a href="{% url 'mood_export' %}"> Export </a>
          <a href="{% url 'mood_import' %}"> Import </a>
          <a href="{% url 'account_logout' %}"> Sign out </a>
        {% else %}
          <a href="{% url 'home' %}"> Home </a>
          <a href="{% url 'account_login' %}"> Log in </a>
          <a href="{% url 'account_signup' %}"> Sign up </a>
        {% endif %}
      </div>
    </div>
  </div>
</template>
