<!-- Navbar -->
<nav class="w-full fixed bg-white p-3 border-b-2 border-b-black z-50" aria-label="Global">
  <div class="w-full max-w-screen-2xl mx-auto flex items-center justify-between">
    {% if user.is_authenticated %}
      <a href="{% url 'mood_list' %}" class="font-bold text-2xl p-3"> MoodMo </a>
    {% else %}
      <a href="{% url 'home' %}" class="font-bold text-2xl p-3"> MoodMo </a>
    {% endif %}

    <div class="hidden lg:flex items-center gap-x-6 p-3 font-bold uppercase">
      {% if user.is_authenticated %}
        <a href="{% url 'mood_list' %}" class="hover:text-primary-500 transition-colors"> Moods </a>
        <a href="{% url 'mood_search' %}" class="hover:text-primary-500 transition-colors"> Search </a>
        <a href="{% url 'statistics' %}" class="hover:text-primary-500 transition-colors"> Statistics </a>
        <a href="{% url 'settings' %}" class="hover:text-primary-500 transition-colors"> Settings </a>
        <a href="{% url 'account_logout' %}" class="hover:text-primary-500 transition-colors"> Log Out </a>
      {% else %}
        <a href="#what" class="hover:text-primary-500 transition-colors">About</a>
        <a href="#why" class="hover:text-primary-500 transition-colors">Motivation</a>
        <a href="#features" class="hover:text-primary-500 transition-colors">Features</a>
        <a href="#faq" class="hover:text-primary-500 transition-colors">FAQ</a>
      {% endif %}
    </div>

    <div class="hidden lg:flex items-center gap-x-6 p-3 font-bold uppercase">
      {% if user.is_authenticated %}
        <a href="{% url 'mood_create' %}"
           class="bg-periwinkle-500 py-3 px-6 rounded-full hover:bg-black hover:text-white transition-colors"
           role="button">
          New mood
        </a>
      {% else %}
        <a href="{% url 'account_login' %}" class="hover:text-primary-500 transition-colors"> Log in </a>
        <a href="{% url 'account_signup' %}"
           class="bg-periwinkle-500 py-3 px-6 rounded-full hover:bg-black hover:text-white transition-colors"
           role="button">
          Sign up
        </a>
      {% endif %}
    </div>

    <!-- Mobile menu -->
    <div class="lg:hidden flex items-center justify-center">
      <button class="p-3 rounded-full" @click="menuOpen = true" name="menu">
        <span class="sr-only">Menu</span>
        <i class="fa-solid fa-bars text-2xl text-black"></i>
      </button>
    </div>
  </div>
</nav>

<!-- Mobile menu -->
{% include '_mobile_menu.html' %}
