<header class="flex justify-center">
  <!-- Navbar -->
  <nav
    class="fixed flex items-center justify-between bg-white w-full md:w-3/4 max-w-6xl py-4 px-8 rounded-b-2xl text-stone-900 text-lg drop-shadow-sm border border-stone-100 z-10"
    aria-label="Global">
    <!-- Home -->
    <div>
      <a href="{% url 'home' %}" class="font-bold text-xl"> MoodMo </a>
    </div>

    <!-- Links -->
    <div class="flex items-center justify-center gap-3.5">
      {% if user.is_authenticated %}
        <a href="{% url 'mood_list' %}" class="{% if 'moods' in request.path %} text-primary-500 {% endif %}">
          Moods
        </a>
        <a href="{% url 'account_logout' %}" class=""> Sign out </a>
        <button name="command" @click="commandOpen = true"
                class="inline-flex items-center justify-center bg-white rounded-lg active:bg-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" data-slot="icon"
               class="w-6 h-6 text-stone-900">
            <path fill-rule="evenodd"
                  d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"
                  clip-rule="evenodd" />
          </svg>
        </button>
        <a href="{% url 'mood_create' %}"
           class="flex items-center sm:gap-x-1.5 px-3 sm:px-6 py-3 text-white bg-stone-900 rounded-full hover:bg-primary-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 transition-colors"
           role="button">
          <span class="hidden sm:inline-block">
            New mood
          </span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
               data-slot="icon" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
        </a>
      {% else %}
        <a href="{% url 'account_login' %}" class=""> Log in </a>
        <a href="{% url 'account_signup' %}"
           class="inline-flex items-center gap-x-1.5 px-6 py-3 text-white bg-stone-900 rounded-full hover:bg-primary-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 transition-colors"
           role="button">
          Sign up
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" data-slot="icon"
               class="w-5 h-5 text-white">
            <path fill-rule="evenodd"
                  d="M2 10a.75.75 0 0 1 .75-.75h12.59l-2.1-1.95a.75.75 0 1 1 1.02-1.1l3.5 3.25a.75.75 0 0 1 0 1.1l-3.5 3.25a.75.75 0 1 1-1.02-1.1l2.1-1.95H2.75A.75.75 0 0 1 2 10Z"
                  clip-rule="evenodd" />
          </svg>
        </a>
      {% endif %}
    </div>
  </nav>

  <!-- Command palette -->
  {% include '_command_palette.html' %}
</header>
