{% extends "_base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
  {% include "_nav.html" %}

  <section class="h-auto bg-white">
    <div class="max-w-7xl mx-auto py-24 px-8 text-center">
      <h2
        class="text-base font-semibold text-primary-600 tracking-wide uppercase"
      >
        Embrace your emotions, anytime, anywhere
      </h2>
      <p class="mt-1 font-extrabold text-stone-800 tracking-tight text-6xl">
        Your Personal Mood Tracker
      </p>
      <p class="max-w-3xl mt-5 mx-auto text-xl text-stone-500">
        MoodMo is your companion on the path to self-discovery. Gain insights into
        your emotions, build mindfulness, and foster a deeper connection with
        yourself."
      </p>
    </div>
  </section>
{% endblock %}
