{% extends "_base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
  {% include "_primary_nav.html" %}
  <section class="w-full px-6 pb-12 antialiased">
    <div class="mx-auto max-w-7xl">
    <!-- Main Hero Content -->
      <div class="container py-32 mx-auto px-4 text-center">
        <h1
          class="font-bold tracking-tight text-stone-900 text-center text-8xl leading-none"
        >
          Embrace Your Emotions, Anytime, Anywhere
        </h1>

        <div class="mx-auto text-stone-500 mt-8 max-w-3xl text-center text-xl">
          MoodMo is your companion on the path to self-discovery. Gain insights
          into your emotions, build mindfulness, and foster a deeper connection
          with yourself.

          <div
            class="flex flex-col items-center justify-center mt-8 space-y-4 text-center sm:flex-row sm:space-y-0 sm:space-x-4"
          >
          <!-- Features, Code, etc -->
            <span class="relative inline-flex w-auto">
              <a
                href="#_"
                class="inline-flex items-center justify-center py-4 text-lg font-medium text-white bg-stone-900 border border-transparent rounded-full px-10 w-auto"
              >
                Learn More
              </a>
            </span>

          <!-- Sign Up -->
            <span class="relative inline-flex w-auto">
              <a
                href="{% url 'account_signup' %}"
                class="inline-flex items-center justify-center gap-x-1.5 py-4 text-lg font-medium text-white bg-primary-500 border border-transparent rounded-full px-10 w-auto"
              >
                Sign Up for Free
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  data-slot="icon"
                  class="w-5 h-5 text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2 10a.75.75 0 0 1 .75-.75h12.59l-2.1-1.95a.75.75 0 1 1 1.02-1.1l3.5 3.25a.75.75 0 0 1 0 1.1l-3.5 3.25a.75.75 0 1 1-1.02-1.1l2.1-1.95H2.75A.75.75 0 0 1 2 10Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
